{% extends '_base.html' %}

{% block head %}
  <title>Signin</title>
{% endblock %}

{% block body %}
  <header>
    <h1>Signin</h1>
  </header>

  <main>
    <form action="/signin" method="POST">
      <label for="signin_email">Email: </label>
      <input type="email" name="email" id="signin_email" placeholder="Email" required>
      
      <label for="signin_password">Password: </label>
      <input type="password" name="password" id="signin_password" placeholder="Password" required>

      <input type="checkbox" name="remember" id="signin_remember" value="remember" />
      <label for="signin_remember">Stay logged in</label>

      <input type="submit" value="Login">
    </form>
  
    {% if error %}
      <p class="error">{{error}}</p>
    {% endif %}
  </main>

  <footer>
    <a href="/signup">Or Create an account</a>
  </footer>
{% endblock %}